
@font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-Bold.ttf);
    font-weight:bold;
}
@font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-BoldItalic.ttf);
    font-weight:bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-Italic.ttf);
    font-weight:normal;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-Thin.ttf);
    font-weight:300;    
}
@font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-ThinItalic.ttf);
    font-weight:lighter;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
  @font-face {
    font-family: Roboto;
    src: url(/html/fonts/Roboto/Roboto-Regular.ttf);
}

body{
    min-width:1140px;
    font-size: Roboto;
}

.container{
    width:1140px;
}

.error{
    color: red;
    font-size: 12px;
    font-weight:bold;
}

input.form-control,select.form-control{
    height: 44px;
}
.modal .modal-dialog{
    width:340px;
    top:200px;
}
.modal .modal-content{
    background: #1A1B16;    
}
.modal .modal-body{
    color: white;
    font-size: 18px;
    text-align: center;
    padding:0px 40px 40px 40px;;
}

.modal .close{
    color: white;
}
.modal .modal-header{
    border:none;
}
.modal .modal-title{
    font-size: 24px;
    text-align: center;
    color: #fab80f;
    margin-top:20px;
}


.form input[type=submit]{
    height: 44px;
    width:100%;
    border: 1px solid #1EA9E3;
    background:#1EA9E3;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    font-weight:bold;
}

.btn.btn-primary.unactive{
    background: #ddd;
    border :1px solid #ddd;
    color: #999;
}
.btn.btn-primary.unactive:hover{
    background: #ddd;
}
.btn.btn-primary{
    height: 44px;
    width:100%;
    border: 1px solid #1EA9E3;
    background:#1EA9E3;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    font-weight:bold;
    padding-top: 8px;
}
.btn.btn-primary:hover,.btn.btn-primary.active{
    background:#1EA9E3;
}

.btn.btn-default{
    height: 44px;    
    border: 1px solid #1EA9E3;
    background:#1EA9E3;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    font-weight:bold;
    padding:10px 20px;
}
.btn.btn-default:hover,.btn.btn-default.active{
    background:none;
}

/*************CAROUSEL*********/
 .carousel_custom{
    position:relative;
}
.carousel_custom .carousel-inner .item{
    height: 600px;
    width:100%;
    left:100%;
    position:absolute;        
    display:none;
    /*transition: left 0.4s ease-in;*/
}
.carousel_custom .item.active{
    display:block;
    top:0px;
    left:0px;        
    z-index:0;
}

.carousel_custom .item.next{
    display:block;
    left: 100%;
    transform:none;
}
.carousel_custom .item.prev{
    display:block;
    left: -100%;
    transform:none;
}
.carousel_custom .carousel-inner{
    height: 600px;
}